@CHARSET "UTF-8";

label{
	display:block;
}

#form-div {
	margin-left:40%;
	margin-top:10%;
	border:1px solid #222;
	width:25%;
	padding-left:6%;	
}

input {
	border-radius:5%;
	border:2px solid #222;
	
}

#send-button {
	color:#eee;
	margin-top:7px;
	background:#222;
	margin-left:7%;
	width:65px;
	height:35px;
	
}

.error {
	display:none;
	
	color:red;
}