@CHARSET "UTF-8";


label{
	display:block
}

#form-div {
	margin-left:40%;
	margin-top:15%;
}

#send-button {
	color:#eee;
	margin-top:7px;
	background:#222;
	margin-bottom:2em;
	width:65px;
	height:35px;
	
}

.error {
	display:none;
	
	color:red;
}